*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}
*::before,
*::after {
  display: inline-block;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
html,
body {
  line-height: 1;
  height: 100%;
}
body {
  color: #2f302c;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}
