/* Скидання стилів */
@import url("reset.css");

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Підключення стилів */

/* Основні стилі  */
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
}
[class*="__container"] {
  /* margin: 0 auto; */
  /* max-width: 1230px; */
}
.header__container,
.footer__container {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.header,
.footer {
  height: 100px;
  background: black;
  color: white;
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.page {
  padding: 100px 0;
  background-color: grey;
  overflow: hidden;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes move-vehicle {
  0% {
    transform: translate(100%, 0px);
    opacity: 1;
  }
  30% {
  }
  90% {
    opacity: 0.9;
  }
  100% {
    transform: translate(-100%, 0px);
    opacity: 0;
  }
}

@keyframes show-robotnik {
  0% {
  }
  30% {
    background: url(../img/Dr-robotnik.webp) no-repeat;
    background-size: 100px;
    opacity: 1;
  }
  100% {
  }
}

@keyframes show-robotnik-ha {
  0% {
  }
  50% {
    background: url(../img/dr-robotnik-ha.png) no-repeat;
    background-size: 100px;
  }
  100% {
    background: url(../img/dr-robotnik-ha.png) no-repeat;
    background-size: 100px;
  }
}

@keyframes show-drones {
  0% {
    background: url(../img/sonic-drone.png) no-repeat;
    background-size: 100px 100px;
    translate: 0px -200px;
  }
  70% {
    background-size: 100px 100px;
    translate: 0px -200px;
  }
  100% {
    background: url(../img/sonic-drone.png) no-repeat;
    background-size: 100px 100px;
    translate: 0px -200px;
  }
}

@keyframes move-sonic {
  0% {
    transform: translate(100%, 0px);
    opacity: 1;
    right: 0%;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    transform: translate(-100%, 0px);
    opacity: 0;
    right: 100%;
  }
}
@keyframes sonic-text {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes recerse-bg {
  0% {
    background-color: black;
  }
  100% {
    background-color: black;
  }
}

/* vehicle */
.vehicle__wrapper {
  border-bottom: 10px solid black;
  overflow: hidden;
  position: relative;
}
.vehicle__title {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 70px;
}
.vehicle__body {
  opacity: 0;
  animation-name: move-vehicle, show-robotnik, show-robotnik-ha;
  animation-duration: 50s, 5s, 10s, 30s;
  animation-iteration-count: 1;
  animation-delay: 0s, 5s, 6s, 8s;
}

.sonic {
  position: absolute;
  bottom: 0;
  opacity: 0;
  animation-name: move-sonic;
  animation-duration: 20s;
  animation-iteration-count: 1;
  animation-delay: 2s;
  z-index: 3;
}
.sonic img {
  width: 300px;
  height: 200px;
}
.sonic__text {
  opacity: 0;

  opacity: 0;
  background-color: white;
  border: 1px solid black;
  width: 198px;
  text-align: center;
  padding: 15px;
  box-shadow: 0px 0px 5px 5px white;

  animation-name: sonic-text;
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-delay: 6s;
}

.truck {
  position: relative;
  left: 20px;
  height: 200px;
  font-size: 0;
  display: inline-block;
}

.truck__frame {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 550px;
  background: black;
  transform: translate(0px, 125px);
}

.truck__cabin {
  display: inline-block;
  translate: 25px 0px;
  position: absolute;
  top: -120px;
}
.truck__engine {
  width: 90px;
  height: 60px;
  background-color: aqua;
  display: inline-block;
  border-top-left-radius: 10px;

  animation-name: recerse-bg;
  animation-duration: 35s;
  animation-delay: 6s;
}
.truck__driver-seat {
  display: inline-block;
  width: 80px;
  height: 120px;
  background-color: aqua;
  border-top-left-radius: 10px;

  animation-name: recerse-bg;
  animation-duration: 35s;
  animation-delay: 6s;
}
.truck__door {
  translate: 5px 5px;
  width: 70px;
  height: 110px;
  background-color: aqua;
  border: 1px solid black;
  border-top-left-radius: 10px;

  animation-name: recerse-bg;
  animation-duration: 35s;
  animation-delay: 6s;
}
.truck__window {
  translate: 5px 5px;
  width: 58px;
  height: 50px;
  background-color: aqua;
  border: 1px solid black;
  border-top-left-radius: 10px;
  background: linear-gradient(45deg, hsl(208deg 42% 38%), hsl(210deg 46% 92%));
}

.truck__sleeper {
  display: inline-block;
  width: 110px;
  height: 120px;
  background: aqua;
  margin-left: 15px;
  border-top-right-radius: 10px;

  animation-name: recerse-bg;
  animation-duration: 35s;
  animation-delay: 6s;
}
.truck__trailer {
  display: inline-block;
  width: 100px;
  height: 100px;
  animation-name: show-drones;
  animation-duration: 15s;
  animation-iteration-count: 1;
  animation-delay: 8s;
}
/* .truck__trailer::after {
  content: "";
  width: 15px;
  height: 20px;
  background: black;
  translate: 10px -15px;
  display: inline-block;
} */

.truck__pipe {
  position: absolute;
  bottom: 0px;
  left: 196px;
  width: 10px;
  height: 185px;
  background-color: lightgray;
}
.truck__pipe:before {
  content: "";
  width: 10px;
  height: 20px;
  background-color: lightgray;
  transform: skew(-30deg, 0deg);
  translate: 6px -20px;
}
.truck__pipe::after {
  content: "";
  width: 200px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 185px;
  left: 10px;
  filter: blur(5px);
}

.truck__tanks {
  position: absolute;
  top: -5px;
  left: 215px;
  z-index: 2;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: lightgray;
}
.truck__tanks::before {
  content: "";
  width: 10px;
  height: 50px;
  background-color: rgb(152, 150, 150);
  translate: 5px 0px;
}
.truck__tanks::after {
  content: "";
  width: 10px;
  height: 50px;
  background-color: rgb(152, 150, 150);
  translate: 75px 0px;
}

/* truck wheels */
.truck__wheels {
  font-size: 0;
}
.truck__wheel {
  animation-name: rotate;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.truck__wheel-front {
  position: relative;
  top: -15px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  margin-left: 30px;
  outline: 2px solid black;
  outline-style: dashed;
  animation-name: rotate;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.truck__wheel-front::before {
  content: "";
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: lightgray;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.truck__wheel-front::after {
  content: "";
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  outline: 4px solid black;
  outline-style: dotted;
  outline-offset: 5px;
}
.truck__wheel-rear {
  display: inline-block;
  margin-left: 200px;
  position: relative;
  top: -15px;
}
.truck__wheel {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  position: relative;
  outline: 2px solid black;
  outline-style: dashed;
}
.truck__wheel::before {
  content: "";
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: lightgray;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.truck__wheel::after {
  content: "";
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  outline: 4px solid black;
  outline-color: black;
  outline-style: dotted;
  outline-offset: 5px;
}
.truck__wheel:first-child {
  margin-right: 20px;
}
/* truck wheels */
.trailer {
  position: relative;
  height: 200px;
  font-size: 0;
  display: inline-block;
}
.trailer__frame {
  position: relative;
  height: 30px;
  width: 550px;
  background: black;
  transform: translate(60px, 235px);
}
.trailer__frame::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -30px;
  height: 80px;
  width: 30px;
  background: black;
}
.trailer__frame::after {
  content: "";
  position: absolute;
  bottom: 60px;
  left: -240px;
  height: 20px;
  width: 210px;
  background: black;
}
.trailer__box {
  width: 550px;
  height: 150px;
  background-color: aqua;
  position: absolute;
  top: -150px;

  animation-name: recerse-bg;
  animation-duration: 35s;
  animation-delay: 6s;

  /* animation-name: show-drones; */
  /* animation-duration: 15s; */
  /* animation-iteration-count: 1; */
  /* animation-delay: 8s; */
}
.trailer__box::before {
  content: "";
  position: absolute;
  left: -240px;
  bottom: 50px;
  width: 240px;
  height: 100px;
  background-color: aqua;

  animation-name: recerse-bg;
  animation-duration: 35s;
  animation-delay: 6s;

  /* animation-name: show-drones; */
  /* animation-duration: 15s;
  animation-iteration-count: 1;
  animation-delay: 8s; */
}
.trailer__wheels-rear {
  position: absolute;
  top: 135px;
  right: 50px;
}

.trailer__wheel {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  position: relative;
  outline: 2px solid black;
  outline-style: dashed;
  animation-name: rotate;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
.trailer__wheel:first-child {
  margin-right: 20px;
}

.trailer__wheel::before {
  content: "";
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: lightgray;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.trailer__wheel::after {
  content: "";
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  outline: 4px solid black;
  outline-color: black;
  outline-style: dotted;
  outline-offset: 5px;
}
