/* Скидання стилів */
@import url("reset.css");

* {
  color: aqua;
}

/* ========================= HEADER ============================= */
.color-link {
  color: green;
}

/* ========================= MAIN ============================= */
.main-title,
.title {
  color: blue;
}

#ukraine p {
  color: brown;
}

#history > p {
  color: purple;
}

#geography p {
  color: pink;
}

#geography .title + p {
  color: lightgrey;
}

[class*="info"] {
  color: red;
}

.text {
  color: chocolate;
}

.img ~ p {
  color: grey;
}

p {
  color: gold;
}

/* ========================= FOOTER ============================= */
.footer-text {
  color: green;
}
