/* Змінні */
/* :root {
  --main: #2f302c;
  --under-main: #7e7f7c;
} */

/* Скидання стилів */
@import url("reset.css");

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Підключення стилів */

/* Основні стилі  */
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2f302c;
  line-height: 125%; /* 20px/16 */

  background-color: #333;
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
[class*="__container"] {
  max-width: 1422px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header */
.header {
  background-color: #fff;
}
.header__container {
  display: flex;
  align-items: center;
  gap: 80px;
  min-height: 164px;
}
.header__logo {
}
.header__image-logo {
  width: 200px;
  max-width: none;
}
.header__search {
}
.search-header {
  flex-basis: 264px;
  border-bottom: 1px solid #d4d4d4;
  display: flex;
  align-items: center;
}
.search-header__button {
  width: 15px;
  min-height: 43px;
  background: url(../img/icons/search.svg) left no-repeat;
}
.search-header__input {
  padding-left: 12px;
  padding-right: 15px;
  min-height: 43px;

  color: #7e7f7c;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}
.header__menu {
  flex-grow: 1;
}
.menu {
}
.menu__list {
  display: flex;
  gap: 44px;
}
.menu__item {
}
.menu__item:nth-child(2) {
  display: flex;
  align-items: center;
}
.menu__item:nth-child(2):nth-child(2)::after {
  content: "";
  width: 10px;
  height: 6px;
  background: url("../img/icons/chevron-down.svg") left no-repeat;
}
.menu__item:nth-child(2) .menu__link {
  margin-right: 7px;
}
.menu__link {
  color: #2f302c;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
}
.menu__link:hover {
  border-color: #2f302c;
}
.header__actions {
}
.actions-header {
}
.actions-header__list {
  display: flex;
  gap: 44px;
}
.actions-header__item {
}
.actions-header__link {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  padding-left: 24px;
  display: block;
}
.actions-header__link:hover {
  border-color: #2f302c;
}
.actions-header__link--love {
  background: url("../img/icons/favorite.svg") left no-repeat;
}
.actions-header__link--cart {
  background: url("../img/icons/cart.svg") left no-repeat;
}
.icon-menu {
  display: none;
}

/* Hero */
.hero {
  padding-top: 114px;
  padding-bottom: 110px;
  background: url("../img/hero/bg/bg-hero-1x.jpg") 0 100% / cover no-repeat;
}
.hero__container {
  display: flex;
}
.hero__body {
  margin-left: auto;
}
.hero__label {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%; /* 28px/20 */
  text-transform: uppercase;
  margin-bottom: 20px;
}
.hero__main-title {
  font-family: "Montserrat", sans-serif;
  font-size: 96px;
  font-weight: 800;
  line-height: 104.166667%; /* 100px/96 */
  text-transform: uppercase;
  max-width: 518px;
  position: relative;
}
.hero__main-title::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 308px;
  height: 1px;
  background-color: #2f302c;
}
.hero__main-title span {
  font-weight: 700;
  position: relative;
  display: block;
  margin-bottom: 52px;
}
.hero__text {
  max-width: 374px;
}
.hero__text p {
  color: #7e7f7c;
  font-weight: 500;
}

/* Media */
@media (width <= 1422px) {
  .header__container {
    gap: 40px;
    min-height: 150px;
  }
  .action-header,
  .menu__list {
    gap: 8px 20px;
  }
  .menu__list {
    justify-content: center;
  }
  .hero {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media (width <= 1200px) {
  .header__container {
    min-height: 140px;
  }
  .header__search {
    flex-basis: 190px;
  }
  .actions-header__list {
    gap: 20px;
  }
  .hero {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .hero__main-title {
    font-size: 80px;
  }
}
@media (width <= 992px) {
  .header__container {
    min-height: 130px;
    gap: 20px;
  }
  .header__logo {
    width: 37px;
    flex-shrink: 0;
    overflow: hidden;
  }
  .menu__link,
  .actions-header__link {
    font-size: 15px;
  }
  .hero__label {
    font-size: 17px;
  }
  .hero__text p {
    font-size: 15px;
  }
}
@media (width < 768px) {
  .header__container {
    min-height: 80px;
  }
  .header__search {
    flex-grow: 1;
  }
  .actions-header__list {
    gap: 10px;
  }
  .icon-menu,
  .header__actions,
  .header__logo,
  .header__search {
    position: relative;
    z-index: 3;
  }
  .icon-menu {
    position: relative;
    display: block;
    width: 30px;
    height: 18px;
    flex-shrink: 0;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    width: 30px;
    height: 2px;
    position: absolute;
    right: 0;
    transition: all 0.3s;
    background-color: #2f302c;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    translate: 0 -50%;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    background-color: #f6f6f6;
    z-index: 1;
    overflow: auto;
    transition: left 0.3s;
    padding: 120px 15px 30px 15px;
  }
  .menu::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 100%;
    transition: left 0.3s;
    background-color: #fff;
    z-index: 2;
  }
  .menu__list {
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
  }
  .menu__link {
    font-size: 28px;
  }

  .header__search {
    flex-grow: 1;
  }
  .actions-header__link {
    width: 25px;
    aspect-ratio: 1;
    padding-left: 0;
    font-size: 0;
    line-height: 1;
    background-size: contain;
  }

  .hero {
    text-align: center;
    background: url(../img/hero/bg/bg-hero-1x.jpg) 5% 0 / cover no-repeat;
  }
  .hero__container {
    justify-content: center;
  }
  .hero__body {
    margin-left: 0;
  }
  .hero__main-title {
    font-size: 70px;
  }
  .hero__main-title::after {
    left: 50%;
    translate: -50% 0;
  }
  .hero__label {
    font-size: 15px;
  }
  .hero__text {
    margin: 0 auto;
  }
  [data-menu-open] .icon-menu span {
    width: 0;
  }
  [data-menu-open] .icon-menu::before {
    rotate: -45deg;
    translate: 0 -50%;
    top: 50%;
  }
  [data-menu-open] .icon-menu::after {
    rotate: 45deg;
    translate: 0 50%;
    bottom: 50%;
  }
  [data-menu-open] .menu,
  [data-menu-open] .menu::before {
    left: 0;
  }
}
@media (width < 480px) {
  .header__container {
    gap: 15px;
  }
  .header__logo {
    width: 28px;
  }
  .header__image-logo {
    width: 154px;
  }
  .action-header {
    gap: 8px 15px;
  }
  .search-header {
    border-radius: 5px;
    border: 1px solid #d4d4d4;
  }
  .search-header__button {
    display: none;
  }
  .search-header__input {
    height: 33px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .hero {
    background: url(../img/hero/bg/bg-hero-1x.jpg) 14% 0 / cover no-repeat;
  }
  .hero__main-title {
    font-size: 55px;
  }
  .hero__main-title::after {
    display: none;
  }
  .hero__main-title span {
    margin-bottom: 20px;
  }
}
@media (hover: hover) {
  .menu__link:hover,
  .actions-header__link:hover {
    border-color: initial;
  }
}
