/* Скидання стилів */
@import url("reset.css");

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Підключення стилів */

/* Основні стилі  */
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
}
.header {
}
[class*="__container"] {
  margin: 0 auto;
  max-width: 1000px;
}
.header .header__container {
  border-bottom: 1px solid grey;
}
.menu-list {
  font-size: 0;
  text-align: center;
}
.menu-list__item {
  font-size: 18px;
  position: relative;
  display: inline-block;
}
.menu-list__link {
  padding: 10px 50px;
  display: block;
}
.menu-list__link:hover {
  text-decoration: underline;
}
.sub-menu-list {
  font-size: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 50px;
  width: 125px;
  background-color: black;
}
.sub-menu-list__item {
  font-size: 18px;
  position: relative;
  z-index: 2;
}
.sub-menu-list__item:hover {
  background-color: white;
  color: black;
}
.sub-menu-list__item:hover .sub-menu-list__link {
  color: black;
}
.sub-menu-list__link {
  color: white;
  padding: 10px;
  display: block;
}
.sub-menu-list__link:hover {
  color: black;
}
.menu-list__item:hover .sub-menu-list {
  opacity: 1;
  visibility: visible;
}

.inner-list {
  font-size: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 10px;
  left: 125px;
}
.inner-list__item {
  width: 150px;
  font-size: 18px;
}
.inner-list__link {
  padding: 5px;
  display: block;
}
.inner-list__link:hover {
  text-transform: uppercase;
}
.sub-menu-list__item:hover .inner-list {
  opacity: 1;
  visibility: visible;
}

.features-list {
  max-width: 271px;
  font-size: 0;
  padding-top: 5px;
}
.features-list__item {
  font-family: "Montserrat", sans-serif;
  color: #252b42;
  font-size: 14px;
  font-weight: 600;
  line-height: 171.428571%; /* 24px/14 */
  letter-spacing: 0.20000000298023224px;
  position: relative;
  padding-left: 42px;
  min-height: 32px;
}
.features-list__item::before {
  position: absolute;
  top: -5px;
  left: 0;
  content: "";
  background: url(../img/check-badge.svg) 0 0 / 100% no-repeat;
  width: 32px;
  height: 32px;
}
.features-list__item--active::before {
  position: absolute;
  top: -5px;
  left: 0;
  content: "";
  background: url(../img/check-badge-active.svg) 0 0 / 100% no-repeat;
  width: 32px;
  height: 32px;
}

.features-list__item:not(:last-child) {
  margin-bottom: 15px;
}
.features-list__item::before > .features-list__item--no-active {
  background: url(../img/check-badge.svg) no-repeat;
}

.section-face {
  text-align: center;
  padding-bottom: 66px;
  font-family: "Playfair Display", serif;
}
.section-face__title {
  color: #000;
  font-size: 20px;
  text-align: center;
  margin-bottom: 48px;
}
.section-face__list {
  font-size: 0;
  margin-left: -62px;
  margin-right: -62px;
  margin-bottom: 77px;
}
.section-face__item {
  display: inline-block;
  max-width: 33.3333333%;
  width: 100%;
  padding-left: 62px;
  padding-right: 62px;
  position: relative;
  cursor: pointer;
}
/* .section-face__item {
  display: inline-block;
  max-width: 33.3333333%;
  width: calc(100% - 124px);
  text-align: center;
  padding: 0px 15px;
  position: relative;
} */

.section-face__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 62px;
  right: 0;
  bottom: 0;
  width: 251px;
  height: 315px;
  background: rgba(0, 0, 0, 0.6);
}
/* .bg-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 251px;
  height: 315px;
  background: rgba(0, 0, 0, 0.6);
} */

.section-face__item img {
  max-width: 251px;
}
.section-face__label {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  width: calc(100% - 124px);
  text-align: center;
  padding: 0px 15px;
  color: #fff;
  font-size: 28px;
}
.section-face__btn {
  position: absolute;
  bottom: 3.8%;
  transform: translate(0%, -3.8%);
  width: calc(100% - 124px);
  text-align: center;
  padding: 0px 15px;
  color: #fff;
  font-size: 17px;
  display: block;
  background-color: transparent;
  cursor: pointer;
}
.section-face__button {
  color: #000;
  font-size: 14px;
  border: 1px solid #000;
  padding: 10px 50px;
}
.section-face__button:hover {
  background-color: #000;
  color: #fff;
}
