/* Змінні */
/* :root {
  --main: #2f302c;
  --under-main: #7e7f7c;
} */

/* Скидання стилів */
@import url("reset.css");

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Підключення стилів */

/* Основні стилі  */
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
[class*="__container"] {
  max-width: 1392px;
  margin: 0 auto;
}
.header__container,
.footer__container {
  /* border-left: 1px solid white;
  border-right: 1px solid white; */
}
.header,
.footer {
  height: 100px;
  background: black;
  color: white;
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
}

/* -------------------------------------- */
.page {
}
.experiments {
  padding-top: 50px;
  padding-bottom: 50px;
}
.experiments__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
}
.experiments__block {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 0px 30px 10px black;
}
.form {
}
.form__block {
}
.form__block--margin {
  margin-bottom: 20px;
}
.form__input {
  padding: 10px;
  border-radius: 5px;
  color: grey;
}
.form__textarea {
  padding: 10px;
  border-radius: 5px;
  color: grey;
  resize: vertical;
}
button[type="button"] {
  padding: 10px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}
button[type="button"]:hover {
  background-color: white;
  color: black;
}
/* -------------------------------------- */
.section-login {
  color: #2f302c;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  line-height: 125%; /* 20px/16 */
  letter-spacing: 0;
  text-align: center;

  padding-top: 82px;
  padding-bottom: 82px;

  padding-left: 15px;
  padding-right: 15px;
}
.section-login__title {
  margin-bottom: 82px;
}
.section-login__title h2 {
  color: #7e7f7c;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 36px;
}
.section-login__title h1 {
  font-size: 32px;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  line-height: 125%; /* 40px/32 */
  text-transform: uppercase;
}

.section-login__body {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
.section-login__content {
}
.content {
  width: 712px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content__title {
}
.content__title h4 {
  color: #7e7f7c;
  margin-bottom: 36px;
}
.content__link {
  color: #2f302c;
  font-weight: 700;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  transition: all 0.5s;
}
.content__link:hover {
  border-color: black;
}
.content__title h2 {
  color: #2f302c;
  font-size: 32px;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  line-height: 125%; /* 40px/32 */
  text-transform: uppercase;
  margin-bottom: 72px;
}
.content__form {
}
.form-content {
}
.form-content__line {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}
.form-content__line:not(:last-child) {
  margin-bottom: 40px;
}
.form-content__line input {
  display: inline-flex;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #d4d4d4;

  color: #7e7f7c;
}
.form-content__line:nth-child(1) input,
.form-content__line:nth-child(3) input {
  width: 47%;
}
.form-content__line:nth-child(3) {
  margin-bottom: 72px;
}
.form-content button {
  color: #fff;
  padding: 12px 104px;
  background-color: #2f302c;
}
.banner {
  flex-basis: 600px;
  position: relative;
  background: #f6f6f6;
  overflow: hidden;
}

.banner__body {
  padding: 51px 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: end;
  position: relative;
  z-index: 1;
}
.banner__sale {
}
.banner__label {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ce0000;
  padding: 4px 8px;
  border-radius: 4px;
  max-width: 51px;
  width: 100%;
  margin-bottom: 33px;
}
.banner__text {
}
.banner__text p {
  font-size: 32px;
  font-weight: 800;
  line-height: 125%;
  text-transform: uppercase;
  text-align: left;
}

.banner__img {
  position: absolute;
  top: 0;
  left: 0;

  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
