/* Fonts Caveat */
@font-face {
  font-family: Caveat;
  src: url("../fonts/Caveat/Caveat-Medium.woff2"), format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Caveat;
  src: url("../fonts/Caveat/Caveat-SemiBold.woff2"), format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Caveat;
  src: url("../fonts/Caveat/Caveat-Bold.woff2"), format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Fonts iMuch */
@font-face {
  font-family: iMuch;
  src: url("../fonts/iMuch/iMuch-Light.woff2"), format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: iMuch;
  src: url("../fonts/iMuch/iMuch-Regular.woff2"), format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: iMuch;
  src: url("../fonts/iMuch/iMuch-Bold.woff2"), format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
